:root {
	--toolbarbutton-hover-background: rgba(0, 0, 0, 0) !important;
}

.bookmark-item,
.tabbrowser-tab:is([selected], [multiselected]):-moz-lwtheme {
	color: inherit !important;
}

menubar > menu:-moz-window-inactive {
	color: ThreeDShadow !important;
}


.internet-options {
    color: menutext !important;
}

#main-menubar:not(:-moz-window-inactive) {
  background-color: rgba(0,0,0,0) !important;
  color: black !important;
  }